@media screen {
  /* --- Reset Styles --- */
  * {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  html, body {
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
  }

  /* --- Welcome/login Page Styles --- */
  body {
    background-color: rgb(232, 255, 237);
    color: #333;
    text-decoration: none;
    line-height: 18px;
  }

  .wrapper {
    background: #fff;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    margin: 16px auto;
    max-width: 960px;
    padding: 2.25%; /* 18px / 800px */
    width: 85%;
  }

  .navbutton:hover .dropdown {
    display: block;
  }

  nav {
    color: #333;
  }

  .navbutton a {  
    text-decoration:none; 
    text-align: left;
    color: #333;
    display: block; 
    transition:0.2s all linear;
  }

  .navbutton {
    display: inline-block;
    width: 200px;
    position: relative;
    color: #333;
  }

  .dropdown {
    display: none;
    position: absolute;
    z-index: 1;
    padding-top: 20px;
    text-align: center;
  }

  h1 {
    font-size: 36px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 30px;
  
  }

  h2 {
    margin-top: 20px;
    font-size: 24px;
    text-align: center;
    line-height: 36px;
    margin-bottom: 16px;
  }

  .loginbox {
    padding: 20px;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
  }

  .photo {
    background-image: url(images/cytology.jpeg);
    min-height: 300px;
    width: 50%;
    background-size: cover;
    background-position: center;
  }

  .box {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .loginbutton {
    width: 55px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    position: relative;
  }

  .loginbutton:hover {
    box-shadow: 0 0 5px rgba(0,0,0,.3);
  }

  .newaccountnote {
    text-align: center;
  }

  .newaccountnote a {
    text-decoration: none;
    color: #333;
  }

  footer.branding {
    border-top: 2px solid #ccc;
    margin-top: 20px;
    padding-top: 20px;
  }

  /*-- Details Style Pages --*/

  .detailsbox {
    text-align: left;
    line-height: 35px;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    padding: 25px 20px 25px 20px;
    margin-bottom: 50px;
  }

  h1.detailsbox {
    text-align: left;
  }

  .buttons {
    display: flex;
    justify-content: space-around;
    width: 300px;
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: auto;
  }

  .sidebar {
    background: transparent;
    border: none;
    border-top: 2px solid #ccc;
    padding: 0;
  }
}
