@media screen {
  /* --- All Styles --- */
  * {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  html, body {
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
  }

  body {
    background-color: rgb(232, 255, 237);
    color: #333;
    text-decoration: none;
    line-height: 18px;
  }

  .wrapper {
    background: #fff;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    margin: 16px auto;
    max-width: 960px;
    padding: 2.25%; /* 18px / 800px */
    width: 85%;
  } 

  a {
    text-decoration: none;
    color: inherit;
  }

  a:hover {
    color: rgba(0,0,0,.3);
  }

  /* -- Navbar --*/

  .navbutton:hover .dropdown {
    display: block;
  }

  nav {
    color: #333;
  }

  .navbutton a {  
    text-decoration: none; 
    text-align: right;
    color: #333;
    display: block; 
    transition: 0.2s all linear;
    }
  
  .navbutton {
    width: 200px;
    position: relative;
    color: #333;
    float: right;
  }

  .navusername {
    display: inline-block;
    width: 200px;
    position: relative;
    color: #333;
    text-align: right;
  }

  .menu {
    margin-top: 10px;
  }

  .dropdown {
    display: none;
    position: absolute;
    z-index: 1;
    padding-top: 20px;
  }

  .dropdown a:hover {
    color: rgba(0,0,0,.3);
  }

  /* --- Welcome Page Styles --- */

  h1 {
    font-size: 36px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 30px;  
  }

  /* All...?? ^^^^^^^ */

  h2 {
    margin-top: 20px;
    font-size: 24px;
    text-align: center;
    line-height: 36px;
    margin-bottom: 16px;
  }

  .homeboxwrapper {
    max-width: 250px;
    max-height: 300px;
    margin: 100px auto;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    padding: 40px 30px;
  }

  .homebox {
    text-align: center;
    margin: 10px;
  }

  /* --- Login Styles --- */

  .loginbox {
    max-width: 275px;
    max-height: 300px;
    margin: 100px auto;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    padding: 40px 30px;
  }

  .logintitle {
    margin-bottom: 50px;
  }

  .box {
    margin-bottom: 15px;
    text-align: center;
  }

  .newaccountnote {
    text-align: center;
    margin-top: 30px;
  }

  .newaccountnote a {
    text-decoration: none;
    color: #333;
  }

  .newaccountnote a:hover {
    color: rgba(0,0,0,.3);
  }

  .loginbutton {
    width: 55px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    position: relative;
  }

  footer.branding {
    border-top: 2px solid #ccc;
    margin-top: 20px;
    padding-top: 20px;
  }

  /*-- Encounters Page --*/

  .encounter {
    margin: 40px 50px;
  }

  .encounterheader {
    border-bottom: solid thin #333;
    margin-top: 55px;
    }

  /*-- Details Style Pages --*/

  .detailsbox {
    text-align: left;
    line-height: 35px;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    margin-bottom: 150px;
    margin-top: 150px;
    padding: 35px 40px 50px 40px;
    min-width: 200px;
  }

  .detailsbox h1 {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 20px;

  }

  .detailsdescription {
    text-align: left;
    white-space: normal;
    overflow: hidden;
  }

  .buttons {
    display: flex;
    justify-content: space-around;
    width: 250px;
    max-height: 21px;
    margin-top: 20px;
  }

  .deletebutton {
    max-height: 21px;
  }

/* --- Create Account --- */

.signupwrapper {
  max-width: 400px;
  max-height: 300px;
  margin: 100px auto;
  box-shadow: 0 0 10px rgba(0,0,0,.3);
  padding: 40px 0px;
}

.signuptitle {
  margin: 30px auto 40px auto;
  max-width: 300px;
}

.signupbox {
  margin: 15px auto;
  text-align: center;
  max-width: 275px;
}

.signupbutton {
  margin: 30px auto 20px auto;
  text-align: center;
  max-width: 250px;
}

.loginnote {
  text-align: center;
  margin: 40px auto 20px auto;
  max-width: 250px;
}

.loginnote a {
  text-decoration: none;
  color: #333;
}

.loginnote a:hover {
  color: rgba(0,0,0,.3);
}

/* --- New Encounter --- */

.newencounterform {
 
  margin: 100px auto;
  box-shadow: 0 0 10px rgba(0,0,0,.3);
  padding: 40px 0px;
  max-width: 600px;
  height: 450px;
}

.newencountertitle {
  max-width: 500px;
  text-align: center;
  margin: 0px auto 60px auto;

}

.descriptionwrapper {
  margin: 15px 100px;
  text-align: left;
  max-width: 350px;
}

.buttonbox {
  margin: 15px 100px;
  text-align: left;
  max-width: 350px;
}

.radiobutton {
  margin: 15px 100px;
  text-align: left;
  max-width: 350px;
  line-height: 25px;
}

/* ---Edit Encounter Page --- */

.editwrapper {
  margin: 100px auto;
  box-shadow: 0 0 10px rgba(0,0,0,.3);
  padding: 40px 0px;
  max-width: 700px;
  min-height: 350px;
}

.editbox {
  margin: 15px auto;
  text-align: left;
  max-width: 500px;
}

.editboxtitle {
  margin: 35px auto 15px auto;
  text-align: left;
  max-width: 500px;
}

.editboxdescription1 {
  margin: 15px auto 5px auto;
  text-align: left;
  max-width: 500px;
}

.editboxdescription2 {
  margin: 0px auto 15px auto;
  text-align: left;
  max-width: 500px;
}

/* .editbutton {
  margin: 30px auto 20px auto;
  text-align: center;
  max-width: 300px;
} */

.buttonswrapper {
  display: flex;
  justify-content: space-around;
  width: 300px;
  margin: 15px auto;
  max-height: 21px;
}

@media screen and (max-width: 600px) {
  .wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: auto;
  }

  .sidebar {
    background: transparent;
    border: none;
    border-top: 2px solid #ccc;
    padding: 0;
  }
}
