<h1>Create Account</h1>

<br>
<br>

<form action="/signup" method="post">
  <div>
    <label for="user_name">Username:</label>
    <input type="text" name="user[user_name]" id="user_name">
  </div>

  <br>
  
  <div>
    <label for="password">Password:</label>
    <input type="password" name="user[password]" id="password">
  </div>
  
  <br>
  <br>

  <input type="submit" value="-Create Account-">
</form>