<!--<nav>
<div><a href="/">Home</a></div>
<div><a href="/encounters">Dashboard</a></div>
<div><a href="/encounters/new">Create New Encounter</a></div>
<div><a href="/">Logout</a></div>
</nav>-->

    <% @encounters.each do |encounter|%>
        <div class="encounter">
            <div class="encountertitle">
                <p><a href="/encounters/<%=encounter.id%>">Title: <%= encounter.title %></a></p>
            </div>
            <div class="encounterstatus">
                <p> Status: <%= encounter.status ? "Complete" : "Not Complete" %></p>
            </div>
        </div>
    <% end %>