<!--<nav>
<div><a href="/">Home</a></div>
<div><a href="/encounters">Dashboard</a></div>
<div><a href=" ">Logout</a></div>
</nav>-->
<form action="/encounters" method="POST">
    <div class="newencounterform"> 

        <div class="newencountertitle">
            <h1>Create a New Encounter</h1>
        </div>
        
        <div class="buttonbox">
            <label for="title">Title: </label>
            <input type="text" name="encounter[title]" id="title" value="<%@encounter.title%>">
        </div>

    

        <div class="descriptionwrapper">
            <div class="descriptionbox">
                <label for="description">Description: </label>
            </div>

            <div class="descriptionbox">
                <textarea name="encounter[description]" id="description" cols="50" rows="3" value="<%@encounter.description%>"></textarea>
            </div>
        </div>

        <div class="buttonbox">
            <div>
                <label for="urgency">Urgency: </label>
            </div>

            <div>
                <input type="radio" name="encounter[urgency]" id="stat" value="STAT">
                <label for="stat">STAT</label>

                <input type="radio" name="encounter[urgency]" id="rush" value="Rush">
                <label for="rush">Rush</label>

                <input type="radio" name="encounter[urgency]" id="casual" value="Casual">
                <label for="casual">Casual</label>
            </div>
        </div>

        <div class="buttonbox">
            <div>
                <label for="dept">Department: </label>
            </div>

            <div>
                <input type="radio" name="encounter[dept]" id="it" value="IT">
                <label for="it">IT</label>

                <input type="radio" name="encounter[dept]" id="hr" value="HR">
                <label for="hr">HR</label>

                <input type="radio" name="encounter[dept]" id="management" value="Management">
                <label for="management">Management</label>

                <input type="radio" name="encounter[dept]" id="surgical" value="Surgical">
                <label for="surgical">Surgical</label>

                <input type="radio" name="encounter[dept]" id="cytology" value="Cytology">
                <label for="cytology">Cytology</label>

                <input type="radio" name="encounter[dept]" id="histology" value="Histology">
                <label for="histology">Histology</label>
            </div>
        </div>

        <div class="buttonbox">
            <input type="submit" value="-Create Encounter-">
            <input type="submit" value="-Cancel-">
        </div>
    </div>
</form>