<br>
<br>
<br>
<br>

<h1>Seems something has gone wrong...</h1>
<p>What would you like to do?</p>
<div><a href="/">Home</a></div>
<div><a href="/encounters">Dashboard</a></div>
<div><a href="/encounters/new">Create New Encounter</a></div>
<div><a href="/">Logout</a></div>

<br>
<br>
<br>
<br>