<div>
    <h1>Welcome to Harborview Medical Center</h1>
    <h1>Path Encounters</h1>
</div>


    <div class="card">
        <div class="photo">
        </div>

        <div class="homeboxwrapper">
            <div class="homebox"><a href="/login">-Sign in HERE-</a></div>
            <div class="homebox"><a href="/signup">-Create your account HERE-</a></div>
        </div>
    </div>
