<div>
    <h1>Welcome!</h1>
    <h2>Sign in to get started!</h2>
</div>


    <div class="card">
        <div class="photo">
        </div>

        <div class="homeboxwrapper">
            <div class="homebox"><a href="/login">-Sign in HERE-</a></div>
            <div class="homebox"><a href="/signup">-Create your account HERE-</a></div>
        </div>
    </div>
