<h1>Welcome to Harborview Medical Center</h1>
<h1>Path Encounters</h1>
<h2>A common place for departmental communication and troubleshooting </h2>


    <div class="card">
        <div class="photo">
        </div>
        <div class="loginbox">
            <div class="box"><a href="/login">-Sign in HERE-</a></div>
            <div class="box"><a href="/signup">-Create your account HERE-</a></div>
        </div>
    </div>
