<h1>Welcome to Harborview Medical Center</h1>
<h1>Path Encounters</h1>
<p>=============================================</p>
<h3>A common place for departmental communication and trouble shooting </h3>
<br>
<br>
<br>
<br>
<p><a href="/encounters">-Sign in HERE-</a></p>
<p><a href="/encounters">-Create your account HERE-</a></p>
<br>
<br>
<br>