<h1>Welcome to Harborview Medical Center</h1>
<h1>Path Encounters</h1>
<p>=============================================</p>
<h3>A common place for departmental communication and trouble shooting </h3>
<br>
<br>
<br>
<br>
<p>-Sign in HERE-</p>
<p>-Create your account HERE-</p>
<br>
<br>
<br>